{% extends 'Layout.html' %}

{% block app_content %}

    <div class="content-section" id="memberSection">
        <form action="" method="post" enctype="multipart/form-data">
            <div class="card">
                <div class="card-body">
                    <fieldset>
                        {{ form.hidden_tag() }}

                        <legend>Account info</legend>
                        <div class="media">
                            <a href="{{ image_file }}" target="_blank">
                                <img class="rounded-circle account-img" src="{{ image_file }}">
                            </a>
                            <div class="media-body">
                                <h2 class="account-heading">{{ current_user.username }}</h2>
                                <h5 class="text-muted">{{ current_user.email }}</h5>
                            </div>
                        </div>
                        <div class="form-group" style="width: 500px">
                            {% if form.name.errors %}
                                {{ form.name(class="form-control form-control-lg is-invalid", placeholder="Name", id="nameInput") }}
                                {% for error in form.name.errors %}
                                    <div class="alert-message block-message error">
                            <span class="badge badge-danger">
                                {{ error }}
                            </span>
                                    </div>
                                {% endfor %}
                            {% else %}
                                {{ form.name(class="form-control form-control-lg", placeholder="Name", id="nameInput") }}
                            {% endif %}
                        </div>
                        <div class="form-group" style="width: 500px">
                            {% if form.username.errors %}
                                {{ form.username(class="form-control form-control-lg is-invalid", placeholder="User Name", id="userInput") }}
                                {% for error in form.username.errors %}
                                    <div class="alert-message block-message error">
                            <span class="badge badge-danger">
                                {{ error }}
                            </span>
                                    </div>
                                {% endfor %}
                            {% else %}
                                {{ form.username(class="form-control form-control-lg", placeholder="User Name", id="userInput") }}
                            {% endif %}
                        </div>
                        <div class="form-group" style="width: 500px">
                            {% if form.email.errors %}
                                {{ form.email(class="form-control form-control-lg is-invalid", placeholder="Email", id="emailInput") }}
                                {% for error in form.email.errors %}
                                    <div class="alert-message block-message error">
                            <span class="badge badge-danger">
                                {{ error }}
                            </span>
                                    </div>
                                {% endfor %}
                            {% endif %}
                            {{ form.email(class="form-control form-control-lg", placeholder="Email", id="emailInput") }}
                        </div>
                        <div class="form-group">
                            {{ form.picture(class="btn btn-danger", value="Upload Image", id="imageInput") }}

                        </div>
                        <div class="group">
                            <a href="{{ url_for('user.photos', user_id=current_user.id) }}"
                               class="btn blue-gradient waves waves-effect waves-light">Photos</a>
                        </div>

                    </fieldset>
                    <div class="form-group">
                        {{ form.update(class="btn aqua-gradient waves waves-effect waves-light", id="updateBtn") }}
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock %}

<script>
    $(document).ready(function () {
        $('#updateBtn').on('click', function () {
            var id = $(this).attr('id');
            var name = $('#nameInput' + id).val();
            var username = $('#userInput'+ id).val();
            var  email = $('#emailInput' +id).val();

            req = $.ajax({
                url:'/account',
                type:'POST',
                data : {name:name, username:username, email:email, id:id}
            })
            $('#memberSection' +id).fadeOut(1000).fadeIn(1000)
        })
    })
</script>