{% extends "Layout.html" %}

{% block app_content %}
    <h1>{{ _('Messages') }}</h1>
    {% for post in messages.items %}
        {% include 'include/_Post.html' %}
    {% endfor %}

    {% for page_num in messages.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
        {% if page_num %}
            {% if messages.page == page_num %}
                <a class="btn btn-info mb-4" href="{{ url_for('main.message', page=page_num ) }}">{{ page_num }}</a>
            {% else %}
                <a class="btn btn-outline-info mb-4"
                   href="{{ url_for('main.message', page=page_num) }}">{{ page_num }}</a>
            {% endif %}
        {% else %}
            ...
        {% endif %}
    {% endfor %}

{% endblock %}

