{% extends 'Layout.html' %}

{% block app_content %}
    <div class="container">
        <title>{{ user.username }} Posts</title>
        <h1>Create posts by {{ user.username }} and total posts are
            <small class="text-muted">{{ posts.total }}</small>
        </h1>
        {% for post in posts.items %}
            <article class="media content-section">
                <img class="rounded-circle account-img"
                     src="{{ url_for('static', filename='profile_pic/' + post.author.image_file) }}">
                <div class="media-body">
                    <div class="article-metadata">
                        <a class="mr-2"
                           href="{{ url_for('user.user_posts', username=post.author.username) }}">{{ post.author.username }}</a>
                        <small class="text-muted">{{ post.create_at.strftime('%Y-%m-%d') }}</small>
                    </div>
                    <h2><a class="article-title"
                           href="{{ url_for('post.post_detail', post_id=post.id) }}">{{ post.title }}</a></h2>
                    <p class="article-content">{{ post.content }}</p>
                    <img class="rounded float-left" style="width: 300px; height: 200px"
                         src="{{ url_for('static', filename='post_pic/' + post.image_file) }}">
                </div>
            </article>
        {% endfor %}
        {% include 'include/_Paginations.html' %}
    </div>
{% endblock %}